<form method="post" action="{{ path('app_artist_crud_delete', {'id': artist.id}) }}" onsubmit="return confirm('¿Está seguro que desea eliminar este elemento?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ artist.id) }}">'
    <button class="btn btn-danger">Eliminar</button>
</form>
