    {% include 'partials/_alert_messages.html.twig' %}
    <div class="mb-4">
        {{ include('product/product_crud/_form.html.twig', {'button_label': 'Actualizar'}) }}
    </div>
    <div class="d-flex justify-content-between align-items-center">
        <a href="{{ path('app_product_crud_index') }}" class="btn btn-outline-primary">← Volver al listado Productos</a>

        {{ include('product/product_crud/_delete_form.html.twig') }}
    </div>