<form method="post" action="{{ path('app_product_crud_delete', {'id': productTitle.id}) }}" onsubmit="return confirm('¿Está seguro que desea eliminar este elemento?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ productTitle.id) }}">
    <button class="btn btn-danger">Eliminar</button>
</form>
