<nav id="sidebar"  class="bg-dark text-light p-3 mt-0 vh-100 bg-opacity-50" style="width: 220px;">
    <h5>SUPER ADMIN</h5>
    <ul class="nav flex-column">
        <li class="nav-item"><a class="nav-link" href="#">Inicio</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Perfil</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Configuración</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Cerrar sesión</a></li>
    </ul>
</nav>
