<nav id="sidebar"  class="bg-secondary text-light p-3 mt-0 vh-100 bg-opacity-50" style="width: 220px;">
    <h5> <i class="bi bi-tools"></i> Configuración</h5>
    <ul class="nav flex-column">

        <li class="nav-item"><a class="nav-link text-dark fw-semibold hover-effect" href="{{ path('app_user_crud_index') }}"> 
        <i class="bi bi-people-fill"></i> Users</a>
        </li>
    </ul>
</nav>
